// Mixins
@import "../../assets/styles/mixins/respond-to/respond-to";

@for $i from 1 to 7 {
    .h#{$i} {
        color: #4e4e64;
        font-weight: 500;
        font-size: calc(35px + -#{$i}px * 3);
    }
}

@include respond-to('A small mobile device') {

}

@include respond-to('Average mobile device') {

}

@include respond-to('Large mobile device') {

}

@include respond-to('Tablet') {

}

@include respond-to('Laptop') {

}

@include respond-to('Laptop L') {

}

@include respond-to('4K') {

}