@import "../../assets/styles/mixins/flexbox/flexbox";
@import "../../assets/styles/mixins/respond-to/respond-to";

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3.2vh;
}

@include respond-to('A small mobile device') {

}

@include respond-to('Average mobile device') {

}

@include respond-to('Large mobile device') {

}

@include respond-to('Tablet') {

}

@include respond-to('Laptop') {
    .header {
        justify-content: space-between;
    }
}

@include respond-to('Laptop L') {

}

@include respond-to('4K') {

}