// Mixins
@import "../../assets/styles/mixins/flexbox/flexbox";
@import "../../assets/styles/mixins/respond-to/respond-to";

.sidebar {
    @include flexbox(flex, column, center, space-between);

    height: 100vh;
    background-color: #E7E7DE;

    &__menu, &__theme {
        margin: 3vh 0;
    }

    & svg {
        fill: #fff;
    }

    &__menu {
        padding: 5px;
    }

    &__pages {
        @include flexbox(flex, column, center, space-evenly);

        height: 40vh;
    }
}

@include respond-to('A small mobile device') {

}

@include respond-to('Average mobile device') {

}


@include respond-to('Large mobile device') {

}


@include respond-to('Tablet') {
    .sidebar {
        width: 60px;

        & svg {
            font-size: 22px;
        }
    }
}

@include respond-to('Laptop') {
    .sidebar {
        width: 80px;

        & svg {
            font-size: 30px;
        }
    }
}

@include respond-to('Laptop L') {
    .sidebar {
        width: 100px;

        & svg {
            font-size: 30px;
        }
    }
}

@include respond-to('4K') {
    .sidebar {
        width: 120px;

        & svg {
            font-size: 30px;
        }
    }
}